Django>=5.0
djangorestframework
django-cors-headers
dj-rest-auth
django-allauth
python-dotenv
pymongo
gunicorn
psycopg2-binary
dj-database-url
whitenoise
requests
urllib3
certifi
charset-normalizer
idna
Pillow
